@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scrollsdown::-webkit-scrollbar {
height: 0;
}
table, td, th {
  border: 1px solid rgb(211, 211, 211);
  margin-bottom: 6rem;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 80px;
}